@keyframes fade-in {
  0% { opacity: 1 }
  100% { opacity: 0.5 }
}

#banner {
  display: flex;
  justify-content: center;
  padding: 8em 4em 6em 4em;
  height: 70vh;
  max-height: 35em;
  background-image: url("IMG_0914.jpg");
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('IMG_0914.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  overflow: hidden;
}

  #banner .inner {
    text-align: center;
    position: relative;
    z-index: 2;
  }

  #banner h1 {
    color: #fff;
    font-size: 5em;
    font-weight: 400;
    font-family: 'Passion One', sans-serif;
    margin: 0;
  }

  #banner p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5em;
    font-weight: 300;
  }

  #banner a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: font-size 1s;
  }

    #banner a:hover {
      color: #FFF;
      border: none;
      font-size: 1.05em;
    }

  #banner::before {
    animation-name: fade-in;
    animation-duration: 2s;
    content: '';
    background-color: #42424f;
    /*background-color: #36454f;*/
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  @media screen and (max-width: 736px) {
    #banner h1 {
      font-size: 3em;
    }
  }
