.form-container {
  background-color: #E5474B;
}

.form-container label {
  color: #FFFFFF;
}

.form-container input.button {
  background-color: #E5474B;
  border-width: 1px;
  border-radius: 5px;
  border-color: #FFFFFF;
  color: #FFFFFF;
  transition: background-color 1s;
}

.form-container input.button:hover {
  background-color: #fceced;
  border-width: 1px;
  border-color: #FFFFFF;
}
