@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");

body {
  background-color: #FFFFFF;
}

div#main.column {
  padding-left: 13vh;
  padding-right: 13vh;
}

.top-bar {
  background-color: #E6E6E6;
}



.form-container {
  background-color: #E5474B;
}
/* Banner */

#banner {
  padding: 8em 4em 6em 4em;
  min-height: 70vh;
  background-image: url("IMG_0914.jpg");
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('IMG_0914.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  overflow: hidden;
}

  #banner .inner {
    text-align: center;
    position: relative;
    z-index: 2;
  }

  #banner h1 {
    color: #fff;
    font-size: 5em;
    font-weight: 400;
    font-family: 'Passion One', cursive;
    margin: 0;
  }

  #banner p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5em;
    font-weight: 300;
  }

  #banner a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: font-size 1s;
  }

    #banner a:hover {
      color: #FFF;
      border: none;
      font-size: 1.05em;
    }

  #banner:before {
    content: '';
    background-color: #42424f;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

/* Main */

#main {
  padding: 4em 0 2em 0;
  background-color: #FFFFFF;
}

/* Trip Tile */

/*.callout {
  padding: 0;
  background-color: #F3F3F3;
  border: none;
}

.image img {
  width: 100%;
}

.trip-text {
  margin: .75em 1.5em;
}

h3 {
  color: #E5474B;
}*/

.callout {
  background-color: #F3F3F3;
  border: none;
}

.image img {
  width: 100%;
}

h3 {
  color: #E5474B;
}

a.button {
  margin-top: 1em;
  background-color: #F7F7F7;
  color: #E5474B;
  border-width: 1px;
  border-color: #E5474B;
  border-radius: 5px;
  transition: background-color 1s;
}

  a.button:hover {
    background-color: #fceced;
    color: #E5474B;
    border-width: 1px;
    border-color: #E5474B;
  }
