.trip-title {
  padding-top: 3.5em;
}

.trip-title h1 {
  font-family: 'Passion One';
  color: #E5474B;
  display: inline-block;
  margin: 0 0 1em .5em;
}

.trip-title p {
  color: #E5474B;
  display: inline-block;
  font-family: 'Roboto';
}

.saved a {
  color: #EC7578;
  border-bottom: 1px dotted;
}

.saved a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #E5474B;
}

.delete {
  display: inline-block;
  float: right;
  font-size: .9em;
  padding-right: 1em;
}

.delete a {
  border-bottom: none;
}

a.delete {
  color: #EC7578;
}

  a.delete:hover {
    color: #E5474B;
  }

#saved-container {
  background-color: #FFFFFF;
}

.saved {
  background-color: #F2F2F2;
}

.saved img {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

#saved-container div.callout.saved {
  padding: 0;
  border: none;
}

#saved-container div.column.inner {
  padding: 1em;
}

#saved-container h4 {
  color: #E5474B;
  font-family: 'Open Sans';
  font-weight: 600;
}
