.trip-title {
  padding-top: 3.5em;
}

.trip-title h2 {
  font-family: 'Passion One';
  color: #E5474B;
  display: inline-block;
  margin: 0 .5em;
}

.trip-title p {
  color: #E5474B;
  display: inline-block;
}

#saved-container {
  background-color: #FFFFFF;
}

.saved {
  background-color: #F2F2F2;
}

.saved img {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

#saved-container div.callout.saved {
  padding: 0;
  border: none;
}

#saved-container div.column.inner {
  padding: 1em;
}

#saved-container h4 {
  color: #E5474B;
}
