#search-form {
  background-color: #F7F7F7;
  min-height: 28em;
}

.fa-search {
  background-color: #E5474B;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#search-form div.row {
  padding-top: 1em;
}
