#sign-in {
  background-color: #E5474B;
  padding: 1em 5em 0 5em;

}

#sign-in h2 {
  color: #FFFFFF;
  font-family: 'Open Sans';
}

#sign-in label {
  color: #FFFFFF;
  font-size: 1em;
  font-family: 'Roboto';
}

#sign-in .actions input {
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: red;
  padding: 1em 2em;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  font-family: 'Roboto';
  font-size: 1em;
  background-color: #E5474B;
  border-radius: 5px;
  color: #FFFFFF;
  transition: background-color 1s;
}

  #sign-in .actions input:hover {
    background-color: #EC7578;
    border-width: 1px;
    border-color: #FFFFFF;
  }

  #sign-in em {
    color: #FFFFFF;
  }

.other-links {
  padding: 4em 0;
  text-align: center;
  min-height: 16em;
}

.other-links h1 {
  color: #E5474B;
  font-family: 'Open Sans';
}

.other-links a {
  color: #EC7578;
  font-family: 'Roboto';
  font-size: 1.1em;
  transition: font-size .25s;
}

  .other-links a:hover {
    color: #E5474B;
    font-family: 'Roboto';
    font-size: 1.2em;
  }

a.password {
  color: #EC7578;
  border-bottom: 1px dotted #EC7578;
}

  a.password:hover {
    color: #FFFFFF;
    border-bottom: none;
  }
