#suggested-container {
  background-color: #E5474B;
}

#suggested-container div.row {
  padding-top: 1em;
}

#suggested-container div.callout {
  background-color: #E5474B;
  border: 1.5px solid #EC7578;
  border-radius: 5px;
  text-align: center;
  height: 15em;
}

#suggested-container button {
  background-color: #E5474B;
  border: 1px solid #EC7578;
  border-radius: 5px;
  color: #FFFFFF;
  padding: .4em 2em .4em 2em;
  /*transition: background-color 1s;*/
}

  #suggested-container button:hover {
    background-color: #EC7578;
  }

#suggested-container h6 {
  color: #FFFFFF;
  font-weight: 500;
}

#suggested-container h4 {
  color: #FFFFFF;
  padding-left: 1em;
  font-family: 'Open Sans';
}

#suggested-container p {
  color: #FFFFFF;
  font-weight: 450;
}

#suggested-container a {
  color: #FFFFFF;
  font-weight: 300;
}

  #suggested-container a:hover {
    font-weight: 400;
  }

#suggested-container .circle {
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #EC7578;
  margin: auto;
}

.circle img {
  width: 100%;
  height: 100%;
}
