.top-bar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  opacity: 0.8;
  /*background-color: #36454f;*/
    background-color: #42424f;
}

.top-bar i {
  font-size: 1.75em;
  vertical-align: middle;
  padding: 0 1em;
  color: rgba(255, 255, 255, 0.75);
}

.top-bar i:hover {
  color: #FFFFFF;
}

ul.menu {
  /*background-color: #36454f;*/
    background-color: #42424f;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

  .dropdown:hover .dropdown-content {
      display: block;
  }

.dropdown-content {
    display: none;
    /*position: absolute;*/
    position: fixed;
    right: 2px;
    /*background-color: #f9f9f9;*/
    background-color: #42424f;
    min-width: 120px;
    z-index: 1;
    text-align: center;
}

  .dropdown-content a {
      color: rgba(255, 255, 255, 0.75);
      padding: 3px 12px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
    /*background-color: #f1f1f1;*/
    color: #FFFFFF;
  }

  .top-bar .top-bar-right {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    flex: none;
    max-width: 100%;
  }
