#main .callout {
  background-color: #F3F3F3;
  border: none;
}

div#main.column {
  padding-left: 3em;
  padding-right: 3em;
}

#main img {
  width: 100%;
}

#main h3 {
  color: #E5474B;
  /*font-family: 'Open Sans' 'Roboto' 'Source Sans Pro';*/
  font-family: 'Open Sans';
  font-weight: 600;
}

#main a.button {
  font-family: 'Roboto';
  margin-top: 1em;
  margin-bottom: .25em;
  background-color: #F7F7F7;
  color: #E5474B;
  border-width: 1px;
  border-color: #E5474B;
  border-radius: 5px;
  transition: background-color 1s;
  padding: .5em 2em;
}

  #main a.button:hover {
    background-color: #fceced;
    color: #E5474B;
    border-width: 1px;
    border-color: #E5474B;
  }
